In [6]:
import requests
import pandas as pd

apiKey = "cc1e2bcfb0fe01ae2f7a56b4e4eef366ab52479eb36dcb330b08221992cb5e3c"

In [7]:
payload = {
    "api_key": apiKey,
#     "fsym": "BTC",
#     "tsyms": "USD"
}

In [8]:
url = "https://min-api.cryptocompare.com/data/histohour?fsym=BTC&tsym=USD&allData=true"
f = requests.get(url, params=payload)
ipdata = f.json()
df = pd.DataFrame(ipdata['Data'])

In [9]:
df.shape

(169, 7)

In [4]:
df.tail()

       close     high      low     open        time  volumefrom    volumeto
164  3879.34  3879.68  3866.28  3869.79  1551888000     1288.11  4964807.57
165  3869.56  3879.34  3867.50  3879.34  1551891600     1128.98  4359140.48
166  3872.97  3873.15  3863.17  3869.56  1551895200      853.82  3308672.53
167  3869.25  3874.66  3866.64  3872.97  1551898800      846.63  3271223.37
168  3867.61  3870.10  3866.42  3869.25  1551902400      416.90  1606011.69

In [5]:
df.to_csv('bitcoin_20190307_per_hour.csv', index=False)